In [1]:
import pandas as pd
import numpy as np
import numpy_financial as npf
import math

budget = pd.read_csv("budget_data.csv")

In [2]:
budget.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
len(budget)

86

In [6]:
budget_p = budget['Profit/Losses'].sum()
budget_p

38382578

In [7]:
budget_a = budget["Profit/Losses"].mean()
budget_a

446309.0465116279

In [8]:
budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [11]:
budget['Profit/Losses'].isna().sum()

0

In [13]:
budget.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [14]:
# Adding a new shifted column

In [4]:
budget["profit_2"] = budget["Profit/Losses"].shift()
budget.head()

       Date  Profit/Losses  profit_2
0  Jan-2010         867884       NaN
1  Feb-2010         984655  867884.0
2  Mar-2010         322013  984655.0
3  Apr-2010         -69417  322013.0
4  May-2010         310503  -69417.0

In [5]:
budget["change"] = budget["Profit/Losses"] - budget["profit_2"]
budget.head()

       Date  Profit/Losses  profit_2    change
0  Jan-2010         867884       NaN       NaN
1  Feb-2010         984655  867884.0  116771.0
2  Mar-2010         322013  984655.0 -662642.0
3  Apr-2010         -69417  322013.0 -391430.0
4  May-2010         310503  -69417.0  379920.0

In [6]:
budget["change"].mean()

-2315.1176470588234

In [11]:
budget["change"].min()

-2196167.0

In [10]:
budget["change"].max()

1926159.0

In [7]:
change_list = []

for i in range(1,len(budget["Profit/Losses"])):
    change_list.append(budget["Profit/Losses"][i] - budget["Profit/Losses"][i-1])
    
average_change = sum(change_list)/len(change_list)
average_change

-2315.1176470588234

In [8]:
total_change = sum(change_list)
total_change

-196785

In [9]:
totalmonths = 86
profitloss = 38382578

value = budget['Profit_Losses']

KeyError: 'Profit_Losses'

In [80]:
list1 = [10,11,12]
list2 = [1,2,3]

subtracted = list()
for item1, item2 in zip(list1, list2):
    subtracted.append(item1-item2)
    
print(subtracted)

[9, 9, 9]

In [30]:
d_list = budget['profit_2']
pl_list = budget['Profit/Losses']

subtracted = []
for item1, item2 in zip(d_list, pl_list):
    subtracted.append(item1-item2)
    
print(subtracted)

[nan, -116771.0, 662642.0, 391430.0, -379920.0, -212354.0, -510239.0, 428211.0, 821271.0, -693918.0, -416278.0, 974163.0, -860159.0, 1115009.0, -1033048.0, -95318.0, 308093.0, -99052.0, 521393.0, -605450.0, -231727.0, 65187.0, 702716.0, -177975.0, 1065544.0, -1926159.0, 917805.0, -898730.0, 334262.0, 246499.0, 64055.0, 1529236.0, -1497596.0, -304914.0, 635801.0, -398319.0, 183161.0, 37864.0, 253689.0, -403655.0, -94168.0, -306877.0, 83000.0, -210462.0, 2196167.0, -1465222.0, 956983.0, -1838447.0, 468003.0, 64602.0, -206242.0, 242155.0, 449079.0, -315198.0, -241099.0, -111540.0, -365942.0, 219310.0, 368665.0, -409837.0, -151210.0, 110244.0, 341938.0, 1212159.0, -683246.0, 70825.0, -335594.0, -417334.0, 272194.0, 236462.0, -657432.0, 211262.0, 128237.0, 1750387.0, -925441.0, -932089.0, 311434.0, -267252.0, 1876758.0, -1733696.0, -198551.0, 665765.0, -693229.0, 734926.0, -77242.0, -532869.0]

In [34]:
my_list = []
my_tuple = ()
my_dict = {}
my_string = ""

In [3]:
budget['Profit_Losses']

def ifunc(_from, _to, x):
    for i in range(_from, _to + 1):

SyntaxError: unexpected EOF while parsing (3349859803.py, line 4)

In [77]:
substracted = budget['Profit_Losses']

for row in budget['Profit_Losses']:
    budget['Profit_Losses'][1 - 0] += 1
    
    print(row)

KeyError: 'Date'

In [43]:
budget["Profit/Losses"]

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [47]:
budget.groupby('Profit/Losses').mean()

               profit_2     change
Profit/Losses
-1196225       999942.0 -2196167.0
-1163797       712961.0 -1876758.0
-1100387       650000.0 -1750387.0
-1022534       506702.0 -1529236.0
-755566        309978.0 -1065544.0
...                 ...        ...
 1139715       988505.0   151210.0
 1150461      -687986.0  1838447.0
 1151518       252788.0   898730.0
 1166643       800701.0   365942.0
 1170593      -755566.0  1926159.0

[86 rows x 2 columns]

In [4]:
type("Profit_Losses")

str

In [5]:
budget['Profit_Losses'] = budget['Profit_Losses'].astype('int64')

KeyError: 'Profit_Losses'

In [3]:
budget.Profit_Losses.astype('integer64')

AttributeError: 'DataFrame' object has no attribute 'Profit_Losses'

In [4]:
budget.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
budget.tail(3)

NameError: name 'budget' is not defined

In [21]:
budget.rename(index=int, columns = ["ProfitLosses"] ["ProfitLosses"])

TypeError: list indices must be integers or slices, not str

In [6]:
budget.head(3)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013

In [11]:
type("ProfitLosses")

str

In [12]:
budget.ProfitLosses.astype('integer')

AttributeError: 'DataFrame' object has no attribute 'ProfitLosses'

In [33]:
budget.append(["Profit_Losses"])

        Date  Profit/Losses              0
0   Jan-2010       867884.0            NaN
1   Feb-2010       984655.0            NaN
2   Mar-2010       322013.0            NaN
3   Apr-2010       -69417.0            NaN
4   May-2010       310503.0            NaN
..       ...            ...            ...
82  Nov-2016       795914.0            NaN
83  Dec-2016        60988.0            NaN
84  Jan-2017       138230.0            NaN
85  Feb-2017       671099.0            NaN
0        NaN            NaN  Profit_Losses

[87 rows x 3 columns]

In [16]:
budget

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [6]:
budget_sub = budget_sub

NameError: name 'budget_sub' is not defined

In [4]:
profit = int["ProfitLosses"]

TypeError: 'type' object is not subscriptable

In [3]:
type(budget)

pandas.core.frame.DataFrame

In [25]:
budget_p = ['Profit/Losses']

def append(budget_p):
    budget_p.append['ProfitLosses']
#while there are a list of items in my list: while len(mylist)

In [8]:
budget_p

['Profit/Losses']

In [32]:
budget_p = list(range('Profit/Losses')
filp = [item for item in budget_p if item % <= 0 or if item % >= 0]
                
filp

SyntaxError: invalid syntax (1264322734.py, line 2)

In [34]:
budget.items()

In [44]:
punctuations = ['.', '-', ',', '*']
    
for punctuation in budget_p:
        budget_p = budget_p.replace(punctuation, '')
return budget_p

AttributeError: 'list' object has no attribute 'replace'

In [92]:
number = 10

In [93]:
number = number + 10
number

20

In [51]:
number -= 10
number

20

In [91]:
toch = []
previous_value = []
    
for value in range(1, len(budget['Profit/Losses'])
    if previous_value is not None
    toch.append(budget['Profit/Losses']- previous_value)
 

average_change(value) = sum(total_change) / len(total_change)
average_change

SyntaxError: invalid syntax (450269343.py, line 6)

In [2]:
budget.dtype()

NameError: name 'budget' is not defined

In [ ]:
object