# Reading a CSV as a Pandas DataFrame

### 1. Import libraries and dependencies

In [1]:
# Import pandas and pathlib
import pandas as pd
from pathlib import Path

### 2. Create a Path to the File Using Pathlib

In [4]:
# Use the Pathlib libary to set the path to the CSV
csv_p = Path("/Users/macjohnson/Documents/UMN_Fintech/classwork/UofM-VIRT-FIN-PT-12-2022-U-LOLC/01-Lesson-Plans/04-Pandas/2/Activities/01-csv-01/Unsolved/people.csv")
csv = pd.read_csv(csv_p)

### 3. Read the CSV into a Pandas DataFrame

In [3]:
# Use the file path to read the CSV into a DataFrame

### 4. Display a Few Rows of the DataFrame

In [5]:
# Use the `head` function to display a few rows of the top of the DataFrame
csv.head()

,id,first_name,last_name,email,gender,uni_grad,job_title,Income
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0

### 5. Generate Summary Statistics on the DataFrame

In [7]:
# Use the `include` parameter set to 'all' to include all columns (and datatypes)
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          996 non-null    float64
 1   first_name  993 non-null    object
 2   last_name   990 non-null    object
 3   email       992 non-null    object
 4   gender      998 non-null    object
 5   uni_grad    991 non-null    object
 6   job_title   998 non-null    object
 7   Income      998 non-null    float64
dtypes: float64(2), object(6)
memory usage: 62.6+ KB